[user]
	name = Zhang JunWei
	email = JunWei.Zhang@technicolor.com
[core]
	pager = less -r
	gitproxy = gitproxy
[http]
[https]

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[http]
[https]
